.App {
  margin: 0;
  padding: 0;
  height: 400px;
  width: 800px;
  background-color: #3C3D4D;
  font-size: 14px;
  color: white;
}

.LeftNav {
  background-color: #27282F;
  height: 360px;
  width: 180px;
  position: absolute;
  left: 0px;
  top: 40px;
}

.MiddleNav {
  background-color: #30333E;
  height: 326px;
  width: 180px;
  position: absolute;
  left: 180px;
  top: 40px;
  padding-top: 34px;
}

.MiddleNavHeaderOption {
  position: absolute;
  left: 10px;
  top: 10px;
  user-select: none;
  color: rgba(255,255,255,0.75);
}

.MyAddress {
  position: absolute;
  top: 10px;
  left: 10px;
  color: rgba(255,255,255,0.75);
}

.LeftNavHeader {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 20px;
  width: 180px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.LeftNavHeaderOption {
  margin-left: 10px;
  user-select: none;
  color: rgba(255,255,255,0.75);
}

.OpenSettings {
  position: absolute;
  font-size: 18px;
  right: 16px;
  top: 12px;
}

.Icon {
  color: rgba(255,255,255,0.5);
}

.Icon:hover {
  cursor: pointer;
}

.Settings {
  text-align: center;
  position: absolute;
  left: 100px;
  top: 60px;
  border-radius: 18px;
  background-color: #27282F;
  width: 600px;
  height: 220px;
  z-index: 1;
  box-shadow: 0px 0px 200px 10px black;
}

.InitialPassword {
  text-align: center;
  position: absolute;
  left: 100px;
  top: 90px;
  border-radius: 18px;
  background-color: #27282F;
  width: 600px;
  height: 180px;
  z-index: 1;
  box-shadow: 0px 0px 200px 10px black;
}

.NewConversationPopup {
  text-align: center;
  position: absolute;
  left: 100px;
  top: 60px;
  border-radius: 18px;
  background-color: #27282F;
  width: 600px;
  height: 270px;
  z-index: 3;
  box-shadow: 0px 0px 200px 10px black;
}

.LookupPopup {
  text-align: center;
  position: absolute;
  left: 100px;
  top: 60px;
  border-radius: 18px;
  background-color: #27282F;
  width: 600px;
  height: 310px;
  z-index: 3;
  box-shadow: 0px 0px 200px 10px black;
}

.MintPopup {
  text-align: center;
  position: absolute;
  left: 100px;
  top: 60px;
  border-radius: 18px;
  background-color: #27282F;
  width: 600px;
  height: 310px;
  z-index: 3;
  box-shadow: 0px 0px 200px 10px black;
}

#ToAddress {
  top: 50px;
}

#ToWebsite {
  top: 100px;
  width: 360px;
}

#ToMessage {
  top: 150px;
}

.CurrentWebsite {
  position: absolute;
  top: 100px;
  left: 440px;
  border: none;
  background-color: #30333E;
  color: rgba(255,255,255,0.5);
  border-radius: 8px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 12px;
  padding-bottom: 12px;
  transition: all 0.3s;
}

.CurrentWebsite:hover {
  cursor: pointer;
  background-color: #3C3D4D;
  color: white;
}

.SettingsInput {
  position: absolute;
  left: 50px;
  width: 480px;
  background-color: #30333E;
  outline: none;
  border: none;
  border-radius: 4px;
  height: 20px;
  padding: 10px;
  color: white;
}

#PrivateKey {
  top: 50px;
}

#Password {
  top: 100px;
}

#InitialPassword {
  top: 50px;
}

.ClosePrivateKey {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 24px;
}

.Save {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(58,207,120,1);
  border: none;
  border-radius: 8px;
  color: white;
  transition: all 0.3s;
}

.Save:hover {
  cursor: pointer;
  background-color: rgba(58,207,120,0.8);
}

.SaveSettings {
  margin-top: 160px;
}

.SavePassword {
  margin-top: 120px;
}

.SendMessage{
  margin-top: 210px;
}

.Progress {
  position: absolute;
  background-color: rgba(58,207,120,1);
  left: 50px;
  height: 12px;
  border-radius: 4px;
}

#PasswordProgress {
  top: 80px;
}

#PrivateKeyProgress {
  top: 130px;
}

.Option {
  position: relative;
  top: 40px;
  left: 7px;
  width: 165px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 5px;
  border-radius: 8px;
}

.Option:hover {
  background-color: #30333E;
  cursor: pointer;
}

.HeaderButton {
  border: 1px solid rgba(255,255,255,0.5);
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  text-align: center;
  width: 140px;
  border-radius: 8px;
  position: absolute;
  top: 6px;
  transition: all 0.3s;
}

.HeaderButton:hover {
  background-color: #30333E;
  cursor: pointer;
}

.NewConversation {
  right: 50px;
}

.LookupUser {
  right: 200px;
  width: 110px;
}

.MintNFT {
  right: 320px;
  width: 100px;
}

.Person {
  padding-left: 10px;
  width: 158px;
}

.Site {
  padding-left: 10px;
  width: 158px;
  top: 5px;
}

.Site:hover {
  background-color: #3C3D4D;
}

.RightNav {
  position: absolute;
  top: 40px;
  left: 360px;
  height: 360px;
  width: 440px;
}

.Messages {
  position: absolute;
  top: 80px;
  left: 0px;
  height: 260px;
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
}

.Message {
  margin-bottom: 5px;
  width: 100%;
}

.Left {
  text-align: left;
}

.Right {
  text-align: right;
}

.TextMessage {
  border-radius: 8px;
  background-color: #30333E;
  position: absolute;
  bottom: 10px;
  left: 5px;
  width: 400px;
  height: 30px;
  outline: none;
  border: none;
  padding-left: 20px;
  color: white;
}

.GlobalHeader {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 40px;
  width: 800px;
  background-color: #27282F;
  z-index: 2;
  box-shadow: 0px 0px 10px 1px black;
}

#SearchAddress {
  width: 500px;
  left: 14px;
  top: 12px;
  border-radius: 10px;
  height: 12px;
  padding-left: 20px;
}

.LoadingNFTs {
  position: absolute;
  left: 250px;
  top: 120px;
  color: rgba(255,255,255,0.75);
}

.NFTs {
  overflow-y: scroll;
  height: 260px;
  position: absolute;
  top: 50px;
  left: 0px;
  width: 600px;
}

.NFT {
  position: absolute;
  width: 175px;
  background-color: #30333E;
  height: 140px;
  border-radius: 8px;
}

.NFTText {
  position: absolute;
  text-align: center;
  bottom: 10px;
  width: 100%;
  left: 0px;
}

.NFTImage {
  background-color: #3C3D4D;
  left: 37px;
  width: 100px;
  height: 100px;
  top: 10px;
  position: absolute;
}

.NFTsBlur {
  background-color: black;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 1px;
  box-shadow: 0px 0px 10px 3px black;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#CurrentWebsiteInput {
  top: 40px;
  width: 360px;
}

.MintCurrentWebsite {
  top: 42px;
}

.DisplayButton {
  position: absolute;
  top: 140px;
  left: 110px;
}

.MintButton {
  position: absolute;
  top: 180px;
  left: 110px;
  background-color: rgba(58,207,180,1);
}

.NFTPreview {
  position: absolute;
  top: 110px;
  right: 110px;
  width: 164px;
  height: 164px;
  background-color: #30333E;
}

.MintStatus {
  position: absolute;
  left: 110px;
  top: 220px;
}

.XMTPTitle {
  position: absolute;
  top: 10px;
  right: 15px;
  color: rgba(255,255,255,0.75);
}